@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  /* COLOR VARIABLES */

  /* Primary Colors*/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Colors */
  /* Paragraph */
  --Transparentwhite: hsla(0, 0%, 100%, 0.75);
  /* Background, headings, buttons */
  --Very-light-gray: hsl(0, 0%, 95%);

};

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  flex-direction: row;
}

.column-1 {
  background-color: var(--bright-orange);
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 350px;
}

.column-title {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 25px;
  color: var(--Very-light-gray);
}

.column-paragraph {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: var(--Transparentwhite);
  padding: 0 20px 0 0;
  line-height: 25px;
}

.column-button {
  background-color: var(--Very-light-gray);
  border-style: solid;
  border-width: 4px;
  border-color: var(--Very-light-gray);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  color: var(--bright-orange);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;

}
